@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Tenor+Sans&display=swap');

*{scroll-behavior: smooth;}

.hide{opacity: 0;}
/* IE select delete arrow */
select::-ms-expand{
    display: none;
}
.lang{
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::selection{background: #fff; color: #067fd4;}

h1,h2,h3,h4,h5,h6{position: relative; font-weight: normal; line-height:1em; color: #222;}
h1{font-size: 100px; font-weight: 900; color:#fff; text-transform: uppercase; margin: 280px 0 50px 0; font-family: 'Josefin Sans', sans-serif;}
h2{font-size: 72px; font-weight: 400; color:#fff; text-transform: uppercase; margin: 0 0 24px 0; font-family: 'Josefin Sans', sans-serif;}
h3{font-size: 32px; font-weight: 300; line-height:1.15em; color:#fff; text-transform: uppercase; margin: 0 0 20px 0; font-family: 'Poppins', sans-serif;}
h4{font-size: 16px; font-weight: 300; line-height:1.25em; color:#fff; font-family: 'Poppins', sans-serif; margin: 0 0 60px 0;}
h4:before{position: absolute; top: -20px; content: ''; width: 40px; height: 3px; background: #fff;}
h5{font-size: 18px; font-weight: 700; color:#fff; font-family: 'Josefin+Sans', sans-serif; margin: 0 0 2px 0;}
h6{font-size: 16px; font-weight: 500; color:#fff; line-height:1.5em; font-family: 'Poppins', sans-serif;}

.title_con{position:relative;}

.blue > *{color: #0f4e90;}
.blue h2{font-size: 40px; margin: 0 0 30px 0; font-weight: 500}
.blue h3{font-size: 32px; margin: 120px 0 11px 0; font-weight: 400}
.blue h4{font-weight: 400}
.blue h4:before{background: #0f4e90;}
.blue h5{margin: -6px 0 0 -46px;}

.left > *{text-align: left;}
.right > *{text-align: right;}
.center > *{text-align: center;}
.center h4:before{left: 50%; margin: 0 0 0 -20px;}
.right h4:before{right: 0; margin: 0 0 0 -20px;}

.btns{position: absolute; display: inline-block; *display: inline; *zoom: 1; width: 200px; height: 40px; border: solid 2px; box-sizing: border-box; border-radius: 8px; box-shadow: 0 10px 30px -15px rgba(0,0,0,.65); text-align: center; text-decoration: none; line-height: 35px; color: #fff; font-size: 14px; font-weight: 600; cursor: pointer; vertical-align: top; transition: all 125ms linear;}
.btns:hover{box-shadow: 0 8px 24px -12px rgba(0,0,0,.85);}
.btns:active{box-shadow: 0 1px 3px -2px rgba(0,0,0,1); transform: scale(.985);}

.btn_left,
.btn_right{position: fixed; bottom:30px; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
.btn_left{margin-left: -40px;}
.btn_right{margin-left: 40px;}
.btn_left i{font-size: 24px; cursor: pointer;}
.btn_right i{font-size: 24px; cursor: pointer;}

html,body{width: 100%; height: 100%; /*max-width: 1920px; max-height: 1080px;*/ margin: 0 auto; padding: 0; overflow: hidden;}
ul, li{margin: 0; padding: 0; list-style: none;}
#header{position: fixed; top: 0; left: 50%; width: 100%; font-family: 'Josefin Sans', sans-serif; /*max-width: inherit;*/ transform: translateX(-50%);  z-index: 999; transition:all 500ms ease-out 2000ms;}
#header .logo{position: fixed; left: 60px; top: 30px;}
#header .logo img{height: 50px; color: #222;}
#header ul.sns{position: fixed; left: 74px; top: 110px; font-size: 24px;}
#header ul.sns li{margin: 30px 0 0 0;}
#header ul.sns li a{display: block; width: 24px; height: 24px; text-align: center; line-height: 28px; cursor: pointer;}
#header ul.sns li .line{position: absolute; top: -1px; content: ''; width: 24px; height: 2px; background: #fff;}
#header ul.nav{position: absolute; top:30px; right: 305px;}
#header ul.nav li{float: left; font-size: 16px; color: #fff; padding: 5px; margin: 2px 0 0 20px; cursor: pointer;}
#header ul.nav li.on{color: #0f4e90; cursor: default;}
#header .nav2{position: absolute; top:30px; right: 148px;}
#header .nav2 > *{float: left; color: #fff; padding: 5px; margin: 0 0 0 20px; cursor: pointer;}
#header .nav2 .ticket{right: 0; font-size: 14px; width: 130px; height: 28px; line-height: 18px; background-color: #fff; color: #067fd4; border: solid; border-width: 2px; border-color: #fff; border-radius: 10px;}
#header .nav2 .lang{position: absolute; width: 68px; height: 28px; padding: 0 0 0 14px; font-size: 14px; line-height: 14px; border: solid; border-width: 2px; border-color: #fff; border-radius: 10px;}
#header .nav2 select{background: none; z-index: 1;}
#header .nav2 select option{background: rgba(6,127,212,1);}
#header .nav2 i{position: absolute; left: 38px; top: 2px;}
.pagination{position: fixed; bottom: 30px; right: 60px; font-family: 'Josefin Sans', sans-serif; font-size: 14px; z-index: 999; transition: opacity .5s ease-in-out 1.5s;}
.pagination b{font-size: 32px;}

.quick_sub,
.quick{position: fixed; right: 60px; top: 50%; transform: translateY(-50%); z-index: 999; transition: opacity .5s ease-in-out 1.5s;}
.quick_sub li,
.quick li{position:relative; width: 10px; height: 10px; margin-bottom: 10px; border-radius: 15px; border: 2px solid #fff; cursor:pointer;}
.quick li:before{position:absolute; left:3px; top:3px; width:4px; height:4px; border-radius:2px; content:''; background:#fff; opacity:0;}
.quick li.on:before{opacity:1;}
.quick li.on.remove:before{opacity:0;}
.quick_sub{}
.quick_sub li{display:inline-block; *zoom:1; *display:inline; margin:0 0 0 10px;}
.quick_sub li:before{position:absolute; left:3px; top:3px; width:4px; height:4px; border-radius:2px; content:''; background:#fff; opacity:0;}
.quick_sub li.on:before{opacity:1;}
.quick .on.long.remove{background:none; border-color:transparent;}
.quick .long{}

#fullpage{position: relative; top: 0px; z-index: 9; width: 100%; height: 100%;}
.fullsection{position: relative; width: 100%; height: 100%; overflow: hidden; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
.fullsection .full_con{position: absolute; top: 50%; left: 50%; width: 1200px; height: 650px; transform: translate(-50%, -50%);}
.fullsection .full_sub_con{position: relative;}
.fullsection .full_sub_con .full_sub{position: relative; width: 100%; height: 100%; float: left;}

.full1 .copy{position: fixed; bottom:30px; width:100%; font-family: 'Poppins', sans-serif; text-align: center; z-index: 1;}

/* guide line*/
body .guide_line{position: fixed; height:100%; width:100%; top:0; left:0; pointer-events: none; z-index: 99999999999999999; opacity: 0; transition: all 0.15s linear;}
body .guide_line:before,
body .guide_line:after,
body .guide_line div:before,
body .guide_line div:after,
body .guide_line span:before,
body .guide_line span:after{position: fixed; content:''; box-sizing: border-box; border:1px dotted #f00;}
body .guide_line:before{top: 0; left:50%; margin: 0 0 0 -600px; width: 1200px;  height: 100%; border-top: none; border-bottom: none;}
body .guide_line:after{top:50%; left: 0; margin: -325px 0 0 0; width: 100%; height: 650px; border-left: none; border-right: none;}
body .guide_line div:before{top: 0; left:60px; width: calc(100% - 120px);  height: 100%; border-top: none; border-bottom: none;}
body .guide_line div:after{top:30px; left: 0;  width: 100%; height: calc(100% - 60px); border-left: none; border-right: none;}
body .guide_line span:before{top: 0; left:50%; margin-left:-1px; width:2px; height: 100%;}
body .guide_line span:after{top:50%; left: 0; margin-top:-1px; width: 100%; height: 2px;}
body .guide_line.on{opacity:0.5;}

/*roading page*/
#waiting.box{width: 100%; height: 100%; top: 0; left: 0; position: fixed; background: #fff; z-index:999999;}
.box:before{content:""; position:absolute; width:3200px; height:3200px; background:#067fd4; left:50%;
  transform:translateX(-50%); border-radius:40%; animation:fill 6000ms ease-in-out; z-index:999998;}
.box img{position: absolute; top: 50%; left: 50%; transform: translate(-60%, -60% ); z-index:999998;}
@keyframes fill{
    from{top:1000px; transform:translateX(-50%) rotate(0deg);}
      to{top:-600px; transform:translateX(-50%) rotate(360deg);}
}

iframe#video_con_01{position: fixed; top: -300px; left: 0; width: 100%; height: calc(100% + 600px); pointer-events: none; vertical-align: top;}

/*-----------------------------sction_01 visual-----------------------------*/

#visual.fullsection.full1{overflow: hidden; clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);}
#visual.fullsection.full1 .full_con{}
#visual.fullsection.full1 .full_con .title_con{margin-top: 200px;}
#visual.fullsection.full1 .full_con .title_con h3{transition:all 700ms ease-out 1050ms;}
#visual.fullsection.full1.hide .full_con .title_con h3{transform: translateY(20px); filter: blur(5px); opacity: 0;}
#visual.fullsection.full1 .full_con .title_con h2{transition:all 700ms ease-out 700ms;}
#visual.fullsection.full1.hide .full_con .title_con h2{filter: blur(5px); opacity: 0;}
#visual.fullsection.full1 .full_con .title_con h4{transition:all 700ms ease-out 1400ms;}
#visual.fullsection.full1.hide .full_con .title_con h4{transform: translateY(20px); filter: blur(5px); line-height: 1.5em; opacity: 0;}
#visual.fullsection.full1.hide .copy{opacity: 0;}
#visual.fullsection.full1 img.guide_ratio{position: relative; width: 100%;} /*영상의 비율 조정하기 위한 이미지*/
#visual.fullsection.full1 .scroll-down{position: absolute; bottom: 22%; left: 50%; transform: translate(-50%,-50%);}
#visual.fullsection.full1 .scroll-down span:nth-child(2){animation-delay: -0.2s;}
#visual.fullsection.full1 .scroll-down span:nth-child(3){animation-delay: -0.4s;}
#visual.fullsection.full1 .scroll-down span{display: block; width: 20px; height: 20px; border-bottom: 1px solid #fff; border-right: 1px solid #fff; transform: rotate(45deg); margin: -10px; animation: animate 2s infinite;}
@keyframes animate{
    0%{opacity: 0; transform: rotate(45deg) translate(-20px,-20px);}
    50%{opacity: 1;}
    100%{opacity: 0; transform: rotate(45deg) translate(20px,20px);}
}

/*-----------------------------sction_01 visual-----------------------------*/
/*-----------------------------sction_02 animal-----------------------------*/

.scale,
.animals{pointer-events: none;}
.animals2{z-index: 1;}
.fish{pointer-events: none;}
#fish{position: absolute; right: 0%; top: -11%; animation: float 4.5s ease-in-out infinite; pointer-events: none;}
@keyframes float{
    0%{transform: translatey(0px);} 50%{transform: translatey(-20px);} 100%{transform: translatey(0px);}
}
#ANIMALS.fullsection.full2:before{position: absolute; content: ''; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, .25) url(../img/cover_dot.png); opacity: .75; -webkit-mask-box-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0,0,0,1));}
#ANIMALS.fullsection.full2 .full_con .slider{position: relative; width: calc(100% + 60px); top: -34px; left: -24px; padding: 0 0 46px 0; margin: 0 -100px 20px 0; overflow-x: scroll; overflow-y: hidden; -ms-user-select: none; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; user-select: none; scroll-behavior: auto;}
#ANIMALS.fullsection.full2 .full_con .title_con h3{transition:all 500ms ease-out 1000ms;}
#ANIMALS.fullsection.full2.hide .full_con .title_con h3{filter: blur(5px); opacity:0;}
#ANIMALS.fullsection.full2 .full_con .title_con h2{transition:all 500ms ease-out 1500ms;}
#ANIMALS.fullsection.full2.hide .full_con .title_con h2{filter: blur(5px); opacity:0;}
#ANIMALS.fullsection.full2 .full_con .title_con h4{transition:all 500ms ease-out 2000ms;}
#ANIMALS.fullsection.full2.hide .full_con .title_con h4{filter: blur(5px); opacity:0;}
#ANIMALS.fullsection.full2 .full_con .slider:hover{cursor: grab;}
#ANIMALS.fullsection.full2 .full_con .slider.moving{cursor: grabbing;}
#ANIMALS.fullsection.full2 .full_con .slider::-webkit-scrollbar{height: 10px;}
#ANIMALS.fullsection.full2 .full_con .slider::-webkit-scrollbar-track{background: rgba(255,255,255,.2); border-radius: 20px;}
#ANIMALS.fullsection.full2 .full_con .slider::-webkit-scrollbar-thumb{background: #fff; border-radius: 20px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner{width: calc(350px * 6 + 100px * 6 - 90px);}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li{position: relative; display: inline-block; *display: inline; *zoom: 1; width: 350px; height: 350px; margin: 0 100px 0 0; border-radius: 30px; background: #f0f0f0;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li{cursor: pointer;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li h5{position: absolute; bottom: 25px; left: 50%; transform: translateX(-50%); transition:all 500ms ease-out 2500ms;}
#ANIMALS.fullsection.full2.hide .full_con .slider ul.slider_inner li h5{opacity:0; filter: blur(5px);}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li:last-child{margin: 0;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animals{position: absolute;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animals:hover{}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_01_01{left: -54px; top: 34px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_01_02{left: -54px; top: 34px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_02_01{left: -74px; top: 75px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_02_02{left: 90px; top: 45px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_03_01{left: -71px; top: 34px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_03_02{left: -70px; top: 34px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_04_01{left: -22px; top: 51px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_04_02{left: -22px; top: 51px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_05_01{left: -22px; top: 51px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_05_02{left: -22px; top: 51px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_06_01{left: -20px; top: 20px; z-index: -1;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li img.animal_06_02{left: -20px; top: 20px;}
#ANIMALS.fullsection.full2 .full_con .slider ul.slider_inner li .slide_contents{padding: 0 30px 30px;}
#ANIMALS.fullsection.full2 .modal{position: absolute; display: none;}
#ANIMALS.fullsection.full2 .modal .cover{position: fixed; width: 100%; height: 100%; top:0; left: 0; background: rgba(0, 0, 0, 0.6); z-index: 10;}
#ANIMALS.fullsection.full2 .modal .modal_content{width:1200px; height:650px; background:#fff; border-radius:10px; position:fixed; top:50%; left:50%; transform: translate(-50%, -50%); text-align:center; background: linear-gradient(rgba(255,255,255,1) 0,rgba(6,127,212,1) 50%, rgba(15,78,144,1) 100%);  z-index: 11;}
#ANIMALS.fullsection.full2 .modal .modal_content h1{background: linear-gradient(to bottom, #fff, rgba(82, 255, 255, 1)); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center; z-index: 1;}
#ANIMALS.fullsection.full2 .modal .modal_content ul.text{position: relative;}
#ANIMALS.fullsection.full2 .modal .modal_content ul.text li{display: inline-block; text-align: left; margin: 0 30px;}
#ANIMALS.fullsection.full2 .modal .modal_content ul.text li h6.menu{font-weight: 300;}
#ANIMALS.fullsection.full2 .modal .modal_content ul.text li h6.info{font-weight: 500;}
#ANIMALS.fullsection.full2 .modal .modal_content ul.text li h6.detail{font-weight: 400;}
#ANIMALS.fullsection.full2 .modal .modal_content img.animals{position: absolute; left: 7%; top: -42%;}
#ANIMALS.fullsection.full2 .modal .modal_content img.scale{position: absolute; right: 60px; top: 60px;}
#ANIMALS.fullsection.full2 .modal .modal_content .close{position: absolute; font-size: 50px; color: #0f4e90 !important; text-decoration: none; cursor: pointer; right: 14px; z-index: 999;}

/*-----------------------------sction_02 animal------------------------------*/
/*-----------------------------sction_03 special-----------------------------*/

.art:hover{cursor: pointer;}
#SPECIAL.fullsection.full3{}
#SPECIAL.fullsection.full3 .full_sub_con{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub{overflow: hidden;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con{position: absolute; width: 100vw; height: 100vh; top: -250px; left: -50px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con > div{position: absolute; width: inherit; height: inherit; transition: all .1s ease-in-out;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con .p_fish_01{background: url(../img/bg_floor_01.png) 50% no-repeat;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con .p_fish_02{background: url(../img/bg_floor_02.png) 50% no-repeat;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con .p_fish_03{background: url(../img/bg_floor_03.png) 50% no-repeat;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .fish_con .p_fish_04{background: url(../img/bg_floor_04.png) 50% no-repeat;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .title_con{top: 320px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .title_con h4:before{display: none;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub01 .full_con .line01{position: absolute; top:452px; content: ''; width: 40px; height: 3px; background: #fff; animation: bar 3.5s ease-in-out; animation-fill-mode: forwards; transform-origin: left; animation-play-state: running;}
#SPECIAL.fullsection.full3.hide .full_sub_con .full_sub.full_sub01 .full_con .line01{animation-play-state: paused;}
#SPECIAL.fullsection.full3.hide .full_sub_con .full_sub.full_sub01 .full_con .line01{opacity:0;}
@keyframes bar{0%{transform: scaleX(1);} 100%{transform: scaleX(50);}}
#SPECIAL.fullsection.full3{}
#SPECIAL.fullsection.full3 .full_sub_con{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 img{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .gold_01 > *{position: absolute; left: -200px; top: 401px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con img.fish_02{z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .gold_02 > *{position: absolute; left: 1180px; top: 142px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con img.fish_04{z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .text{position: absolute; left: 50%; text-align: center; transform: translateX(-50%); z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .text h3{margin: 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con{width: 100%;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con > *{position: relative; display: inline-block; *display: inline; *zoom: 1; float: left; width: 600px; height: 325px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con> * > img{width:360px; border-radius: 10px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li .intext.text01{padding: 84px 0 0 40px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li .intext.text02{padding: 0 40px 0 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li img.faciimg_01{margin: 84px 0 0 200px; pointer-events: none;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li img.faciimg_02{margin: 0 0 0 40px; pointer-events: none;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li .intext h4:before{display: none;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li .intext h5{margin: 100px 0 20px 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con ul.two_con li .intext.text02{text-align: right;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .line02{position: absolute; top:211px; right:600px; content: ''; width: 40px; height: 3px; background: #fff; animation: bar 3.5s ease-in-out; animation-fill-mode: forwards; transform-origin: left; animation-play-state: running; z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02.hide .full_con .line02{animation-play-state: paused;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02.hide .full_con .line02{opacity: 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub02 .full_con .line03{position: absolute; top:452px; left:-860px; content: ''; width: 1500px; height: 3px; background: #fff; z-index: 1;}
#SPECIAL.fullsection.full3{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03{}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con{width:calc(100% + 312px); margin: 71px -156px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li{position: relative; display: inline-block; *display: inline; *zoom: 1; width: 500px; height: 500px; margin: 2px; border-radius: 10px; float: left; z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li ul.two_con{height:calc(50% + 8px); margin: -2px 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li ul.two_con li{position: relative; width: 500px; height: 250px; margin: 2px 0; border-radius: 10px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li ul.two_con li .two_con{width: calc(100% + 8px); margin: 0 -2px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li ul.two_con li .two_con li{position: relative; display: inline-block; *display: inline; *zoom: 1; width: 248px; height: 250px; margin: 0 2px; background: #2a4d3d; border-radius: 10px; float: left;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con .line04{position: absolute; top:211px; right:850px; content: ''; width: 1500px; height: 3px; background: #fff; z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con ul.three_con li.art_01 ul.two_con li .text{text-align: right; margin: 95px 0 20px 0; padding: 0 20px 0 0;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con .gold_03 > *{position: absolute; left: 1237px; top: 482px;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con img.fish_06{z-index: 1;}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con .gold_04 > *{position: absolute; left: -210px; top: 106px; transform: rotate(180deg);}
#SPECIAL.fullsection.full3 .full_sub_con .full_sub.full_sub03 .full_con img.fish_08{z-index: 1;}
#SPECIAL.fullsection.full3 .modal{position: absolute; display: none;}
#SPECIAL.fullsection.full3 .modal .cover{position: fixed; width: 100%; height: 100%; top:0; left: 0; background: rgba(0, 0, 0, 1); z-index: 10;}
#SPECIAL.fullsection.full3 .modal .modal_content{position: fixed; width: 1000px; height: 600px; border-radius:10px; top:50%; left:50%; transform: translate(-50%, -50%); text-align:center; z-index: 11;}
#SPECIAL.fullsection.full3 .modal .modal_content img{position: absolute; width: 100%; left: 0; top: 0; pointer-events: none;}
#SPECIAL.fullsection.full3 .modal .modal_content .close{position: absolute; font-size: 50px; color: #fff; text-decoration: none; cursor: pointer;  right: 14px; z-index: 999;}

/*-----------------------------sction_03 special-----------------------------*/
/*-----------------------------sction_04 map---------------------------------*/

#MAPS .cover{position: fixed; width: 100%; height: 100%; top:0; left: 0; background: rgba(0, 0, 0, 0); z-index: 1;}
#MAPS.fullsection.full4{z-index: 2;}
#MAPS.fullsection.full4 .map{position: absolute; left: 0; top: 0; width: 56.25%; height: 100vh;}
#MAPS.fullsection.full4 ul.area{}
#MAPS.fullsection.full4 ul.area li.btn_area,
.inform{position: absolute; color: #fff; text-align: center; left: 50px; top: 20px; background: #0f4e90; width: 32px; height: 32px; border-radius: 50%; cursor: pointer; z-index: 2;}
.inform p{position: absolute; font-size: 24px; left: 17px; top: -124px; font-family: 'Josefin Sans', sans-serif; z-index: 2;}
#MAPS.fullsection.full4 .full_con{position: absolute; top: 50%; left: 72%; width: 350px; height: 550px; transform: translate(-50%, -50%); z-index: 2;}
#MAPS.fullsection.full4 .full_con .flip .content .front .inform_00{left: 236px; top: 387px; width: 32px; height: 32px; pointer-events: none;}
#MAPS.fullsection.full4 .full_con .flip .content .front .inform_00 p{top: -132px; left: 13.5px; font-size: 18px;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_list img{position: absolute; left: 50px; top: 10px; pointer-events: none;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_list h5{color: #fff; text-align: center; padding: 10px; top: 40%; transform: translate(-18%,-40%); left: 19%; line-height: 1.15em; z-index: 1;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_list .text_bg{margin: 284px 0 0px 22px; width: 306px; height: 246px; background: rgba(255,255,255,.1); border-radius: 10px;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_list .text_bg h6{color: #fff; text-align: left; box-sizing: border-box;  padding: 10px; font-size: 14px; line-height: 1.25em}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_list .close2{position: absolute; font-size: 50px; color: #fff !important; text-decoration: none; cursor: pointer; right: -16px; top: -8px; z-index: 999;}
#MAPS.fullsection.full4 ul.area li .btn_plus{position: absolute; transition: all 500ms ease-out; opacity: 0; pointer-events: none;}
#MAPS.fullsection.full4 ul.area li.area_01{left: 41.4%; top: 49.8vh;}
#MAPS.fullsection.full4 ul.area li.area_01 .btn_01{left: -15px; top: -12px;}
#MAPS.fullsection.full4 ul.area li.area_01 i{position: absolute; font-size: 30px; color: #0f4e90; top: 40px; left: 3px; animation: up 1200ms linear infinite;}
@keyframes up{
    0%{transform: translateY(0);}
    50%{transform: translateY(-8px);}
    100%{transform: translateY(0);}
}
#MAPS.fullsection.full4 ul.area li.area_02{left: 35%; top: 27vh;}
#MAPS.fullsection.full4 ul.area li.area_02 .btn_02{left: -6px; top: -6px;}
#MAPS.fullsection.full4 ul.area li.area_03{left: 9.7%; top: 45vh;}
#MAPS.fullsection.full4 ul.area li.area_03 .btn_03{left: -15px; top: -12px;}
#MAPS.fullsection.full4 ul.area li.area_04{left: 23.8%; top: 53vh;}
#MAPS.fullsection.full4 ul.area li.area_04 .btn_04{left: -2px; top: -10px;}
#MAPS.fullsection.full4 ul.area li.area_05{left: 18.5%; top: 60.5vh;}
#MAPS.fullsection.full4 ul.area li.area_05 .btn_05{left: -11px; top: -22px;}
#MAPS.fullsection.full4 ul.area li.area_06{left: 42.2%; top: 72vh;}
#MAPS.fullsection.full4 ul.area li.area_06 .btn_06{left: -28px; top: -7px;}
#MAPS.fullsection.full4 ul.area li.btn_area p{position: absolute; font-size: 18px; top: 10px; left: 11px; font-family: 'Josefin Sans', sans-serif; z-index: 1;}
#MAPS.fullsection.full4 ul.area li.area_01 p{left: 13px;}
#MAPS.fullsection.full4 .full_con .flip{position: absolute; right: 0px; width: 350px; height: 550px; border-radius: 10px; perspective: 1000px; transition:all 1000ms ease-out 1000ms; z-index: 2;}
#MAPS.fullsection.full4.hide .full_con .flip{filter: blur(5px); opacity:0;}
#MAPS.fullsection.full4 .full_con .flip .content{position: absolute; width: 100%; height: 100%; transition: transform 1s; transform-style: preserve-3d;}
#MAPS.fullsection.full4 .full_con .flip .content .front,
#MAPS.fullsection.full4 .full_con .flip .content ul.back{position: absolute; height: 100%; width: 100%; background: rgba(245, 242, 234, .1); line-height: 300px; color: #03446A; text-align: center; font-size: 60px; border-radius: 5px; backface-visibility: hidden; box-shadow: 0 0 15px rgba(0,0,0,0.1); overflow: hidden;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back{position: absolute; transform: rotateY( -180deg );}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li{position: absolute; opacity: 0; transition: all 1s ease-out;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li .case{position: absolute; top: 165px; left: 219px; width: 100px; height: 100px; background: #0f4e90;  border-radius: 50%; z-index: 2;}
#MAPS.fullsection.full4 .full_con .flip .content .back p{}
.reflect{position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: inherit; pointer-events: none; transition: transform 0.25s ease-out;  z-index: 1;}
#MAPS.fullsection.full4 .full_con .flip .content .front,:hover .reflect{transition: transform 0.1s ease-out;}
.reflect:before{position: absolute; content:''; top: -50%; left: -50%; width: 200%; height: 200%; background: linear-gradient(-45deg, rgba(255,255,255,0) 35%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0) 65%);}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_bg{position: absolute; width: 76%; height: 48%; left: 42px; top: 3px; border-radius: 60% 67% 77% 55% / 68% 61% 68% 65%; transform-style: preserve-3d; animation: rotation 3050ms linear infinite; background: linear-gradient(45deg, #0093e9 0%, #3ea6ff 81%);}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_bg:before,
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_bg:after{content:''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 60% 67% 77% 55% / 68% 61% 68% 65%; box-shadow: 5px 5px 89px rgba(0, 147, 233, .25); background: linear-gradient(120deg, rgba(152, 253, 238,.55) 43%, rgba(0, 147, 233,.89) 100%);}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_bg:before{animation: rotation 2600ms linear infinite; animation-delay: 350ms; opacity: .2;}
#MAPS.fullsection.full4 .full_con .flip .content ul.back li.back_bg:after{animation: rotation 2700ms linear infinite; animation-delay: 500ms; opacity: .7;}
@keyframes rotation{
    0%, 100%{border-radius: 60% 67% 77% 55% / 68% 61% 68% 65%; transform: translate3d(0,0,0) rotateZ(0.01deg);}
    34%{border-radius: 70% 50% 54% 55% / 47% 49% 71% 70%;transform: translate3d(0,5px,0) rotateZ(0.01deg);}
    50%{transform: translate3d(0,0,0) rotateZ(0.01deg);}
    67%{border-radius: 100% 81% 76% 70% / 100% 100% 70% 74%; transform: translate3d(0,-5px,0) rotateZ(0.01deg);}
}

/*-----------------------------sction_04 map-------------------------------*/
/*-----------------------------sction_05 hotel-----------------------------*/

#HOTEL.fullsection.full5{}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_01{}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_01 .title_con h3{transition:all 1000ms ease-out 500ms; transform: translateX(-30px);}
#HOTEL.fullsection.full5.hide .full_sub_con .full_sub .full_con.full_con_01 .title_con h3{opacity: 0; filter: blur(5px); transform: rotateZ(0);}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_01 .title_con h2{transition:all 1000ms ease-out 1000ms; transform: translateX(-30px);}
#HOTEL.fullsection.full5.hide .full_sub_con .full_sub .full_con.full_con_01 .title_con h2{opacity: 0; filter: blur(5px); transform: rotateZ(0);}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_01 .title_con h4{transition:all 1000ms ease-out 1500ms; transform: translateX(-30px);}
#HOTEL.fullsection.full5.hide .full_sub_con .full_sub .full_con.full_con_01 .title_con h4{opacity: 0; filter: blur(5px); transform: rotateZ(0);}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_01 .title_con.right{position: relative; margin: 400px 0 0 0;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02{}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 ul.two_con{width: 100%;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 ul.two_con li{position: relative; display: inline-block; margin: -21px 20px 0; width: 560px; height: 373px; *display: inline; *zoom: 1; float: left; border-radius: 10px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 ul.two_con li .hotel_text{position: absolute; box-sizing: border-box; padding: 20px; margin-top: 260px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 ul.two_con li .hotel_text h6{font-size: 14px; margin-top: 18px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub.hide .full_con.full_con_02 img{filter: blur(5px); opacity:0;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 .hotel_fish_01{position: absolute; left: -80px; top: 0; animation: float 4.5s ease-in-out infinite; pointer-events: none; transition: all 1000ms ease-out 750ms;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_02 .hotel_fish_02{position: absolute; left: 1250px; top: 500px; animation: float 4s ease-in-out infinite; pointer-events: none; transition: all 1000ms ease-out 1500ms;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03{background: rgba(255, 255, 255, .05); box-sizing: border-box; box-shadow: 0 15px 35px rgb(0 0 0 / 20%); border-top: 1px solid rgba(255, 255, 255, .1); border-bottom: 1px solid rgba(255, 255, 255, .1); border-radius: 10px; color: #fff; letter-spacing: 1px; text-decoration: none; backdrop-filter: blur(5px); z-index: 1;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .title_con{margin-top: 24px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .three_con{width: 100%;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .three_con li{position: relative; display: inline-block; margin: -21px 20px 0; width: 360px; height: 240px; *display: inline; *zoom: 1; float: left; border-radius: 10px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .three_con li h5{position: absolute; left: 50%; transform: translateX(-50%); bottom: 18px;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub.hide .full_con.full_con_03 img{filter: blur(5px); opacity:0;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .hotel_fish_03{position: absolute; left: -200px; bottom: 100px; animation: float 4.5s ease-in-out infinite; pointer-events: none; transition: all 1000ms ease-out 750ms;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .hotel_fish_04{position: absolute; left: 1250px; animation: float 4s ease-in-out infinite; pointer-events: none; transition: all 1000ms ease-out 1500ms;}
#HOTEL.fullsection.full5 .full_sub_con .full_sub .full_con.full_con_03 .btns{position: relative; left: 50%; transform: translateX(-50%); margin-top: 56px;}

/*-----------------------------sction_05 hotel----------------------------------*/
/*-----------------------------sction_06 infomation-----------------------------*/

.card{position: relative; width: 350px; height: 550px; line-height: 2.5em; text-align: center; background: rgba(255, 255, 255, .05); box-sizing: border-box; box-shadow: 0 15px 35px rgb(0 0 0 / 20%); border-top: 1px solid rgba(255, 255, 255, .1); border-bottom: 1px solid rgba(255, 255, 255, .1); border-radius: 10px; color: #fff; letter-spacing: 1px; text-decoration: none; overflow: hidden; text-transform: uppercase; backdrop-filter: blur(5px); transition: all .3s ease-out; z-index: 1;}
#INFO.fullsection.full6{}
#INFO.fullsection.full6 .full_con ul.three_con{width:100%;}
#INFO.fullsection.full6 .full_con ul.three_con li{position: relative; display: block; margin: 50px 25px; border-radius: 10px; float: left; z-index: 1;}
#INFO.fullsection.full6.hide .full_con img{filter: blur(5px); opacity:0;}
#INFO.fullsection.full6 .full_con img.dolphin_01{transition:all 1000ms ease-out 2000ms; pointer-events: none;}
#INFO.fullsection.full6 .full_con img.dolphin_02{transition:all 1000ms ease-out 2500ms; pointer-events: none;}
#INFO.fullsection.full6.hide .full_con ul.three_con li{filter: blur(5px); opacity:0;}
#INFO.fullsection.full6.hide .full_con ul.three_con li > *{transform: rotateZ(0);}
#INFO.fullsection.full6 .full_con ul.three_con li.list_01{transition:all 1000ms ease-out 500ms;}
#INFO.fullsection.full6 .full_con ul.three_con li.list_02{transition:all 1000ms ease-out 1000ms;}
#INFO.fullsection.full6 .full_con ul.three_con li.list_03{transition:all 1000ms ease-out 1500ms;}
#INFO.fullsection.full6 .full_con ul.three_con li .card h3{margin: 80px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_01 h5{margin: 60px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_01 h6{margin: 20px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_02 h5{margin: 30px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_02 h6{margin: 20px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_03 h5{margin: 50px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card .text_box.text_03 h6{margin: 20px 0 0 0;}
#INFO.fullsection.full6 .full_con ul.three_con li .card a{left: 75px; bottom: 80px;}
#INFO.fullsection.full6 .full_con .dolphin_01{position: absolute; left: -100px; top: -50px;}
#INFO.fullsection.full6 .full_con .dolphin_02{position: absolute; left: 1181px; top: -32px;}
@keyframes shine{
    0%{transform: skewY(-45deg) translateX(0);}
	100%{transform: skewY(-45deg) translateX(12.5em);}
}
 .shine{text-align: center; text-decoration: none; border: 2px solid #fff; font-size: 14px; display: inline-block; border-radius: 0.3em; transition: all 0.2s ease-in-out; overflow: hidden;}
 .shine:before{ content: ""; background-color: rgba(255, 255, 255, 0.5); height: 100%; width: 3em; display: block; position: absolute; top: 0; left: -4.5em; transform: skewX(-45deg) translateX(0); transition: none;}
 .shine:hover{ background-color: #2194e0; color: #fff; border-bottom: 4px solid #ccc;}
 .shine:hover:before{transform: skewX(-45deg) translateX(19.5em); transition: all 0.5s ease-in-out;}

/*-----------------------------sction_06 infomation-----------------------------*/
